<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div id="app">
        {{message + ' ' + nama}}
    </div> -->

    <div id="app">
        <!-- <div class="error" v-if="error">
            <p>
                {{errorMessage}}
            </p>
        </div>
        <p v-bind:title="tooltip">
            {{message}}
        </p>
        <ul>
            <li v-for="buah in daftarBuah">
                {{buah}}
            </li>
        </ul>
        <input type="text" v-model="message">
        <p>
            {{message}}
        </p>
        <button v-on:click="sayHello">
            Sapa
        </button> -->
        <ol>
            <item-buah v-for="buah in daftarBuah" v-bind:buah="buah" v-bind:key="buah.id">
            </item-buah>
        </ol>
    </div>

    <script src="vue.js"></script>
    <script type="text/x-template" id="item-buah">
        <li>{{buah.nama}}</li>
    </script>
    <script>

        Vue.component('item-buah',{
            props: ['buah'],
            template: '#item-buah'
        });
        var app = new Vue({
            el: '#app',
            data : {
                message: 'Start Typing',
                tooltip: 'tooltip!',
                errorMessage: 'salah salah salah',
                error: false,
                daftarBuah: [
                    {id:0, nama: 'mangga'},
                    {id:1, nama: 'apel'},
                    {id:2, nama: 'jeruk'}
                ]
            }
            // methods: {
            //     sayHello: function(){
            //         alert(this.message)
            //     }
            // }
        })
    </script>
</body>
</html>