* {
    box-sizing: border-box;
}

body {
    font-family: Source Sans Pro, sans serif;
}

header {
    background-color: #6eabd8;
    width: 100%;
    position: relative;
}

header p {
    font-family: Befolk;
    margin: 0;
    font-size: 38.14px;
    padding: 18px 75px
}

header p a {
    text-decoration: none;
    color: white;
}

header p a:hover {
    text-decoration: none;
    color: white
}

.background {
    background-image: url(../images/awan-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container.home {
    padding: 50px 0;
}

.button.login {
    text-decoration: none;
    background-color: white;
    color: #6eabd8;
    padding: 3px 15px;
    position: absolute;
    right: 75px;
    top: 25px;
    font-size: 23.42px;
    border-radius: 20px
}

.button.login:hover {
    opacity: 0.9;
}

.row {
    margin: 0;
}

.about {
    height: 325px;
    position: relative
}

.deskripsi {
    position: absolute;
    top: 65px;
}

.col-md-6 {
    text-align: center
}

h1 {
    font-weight: 400;
}

header h1 {
    color: white;
    font-size: 46.39px;
}

.head p {
    color: white;
    font-size: 27.83px;
    font-family: Source Sans Pro, sans serif;
    padding-bottom: 0;
}

.button.get-start {
    text-decoration: none;
    background-color: white;
    color: #6eabd8;
    font-size: 34.02px;
    padding: 5px 55px;
    border-radius: 40px;
    border: 3px solid white;
    display: inline-block;
    margin: 60px 0;
    width: 350px;
}

.button.get-start:hover {
    background-color: #6eabd8;
    color: white;
    border: 3px solid white;
}

.intro {
    margin-top: 53px;
    width: 1236px;
    margin: 53px auto;
}

.col-md-4 figure {
    text-align: center
}

h2 {
    font-size: 35px;
}

h2 .judul {
    font-weight: 600;
    padding: 0;
}

h2 .explore {
    font-weight: 400;
}

.col-md-8 p {
    font-size: 22.35px;
    font-weight: 300;
}

.content {
    text-align: center;
}

.content img {
    margin: 28px 0;
}

.langkah-list {
    width: 1266px;
    margin: auto;
}

.content h2 {
    font-weight: 400;
}

h2 .how-to {
    font-weight: 600;
}

h2 .ebandy {
    font-family: Befolk;
}

h3 {
    font-size: 28px;
    font-weight: 400;
}

.langkah-detail p {
    font-size: 23px;
    font-weight: 300;
    margin: 43px 0;
}

p .detail {
    font-weight: 400;
}

.travel-package {
    background-color: #f1f1f1;
    padding-bottom: 30px;
}

.travel-package h2 {
    padding: 60px
}

h2 .title {
    font-weight: 600;
}

.travel-list {
    width: 1114px;
    margin: auto;
    text-align: center;
}

.travel {
    background-color: white;
    padding: 15px 12px;
    padding-bottom: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    border-radius: 8px;
    margin-bottom: 30px;
}

.travel img {
    margin: 15px 0;
}

h3 a, h3 a:hover {
    text-decoration: none;
    color: black
}

.travel-detail p {
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0;
}

.button.take {
    font-size: 17px;
    text-decoration: none;
    background-color: #6eabd8;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.button.take:hover {
    background-color: #5d94b9
}

.button.all {
    text-decoration: none;
    color: #6eabd8;
    font-size: 18px;
    font-weight: 600
}

.button.all:hover {
    text-decoration: underline;
    color: #5d94b9
}

.more {
    background-color: #6eabd8;
    background-image: url(../images/awan-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 60px 0;
    margin: 0;
}

.more h2 {
    color: white;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}

.button.start {
    text-decoration: none;
    color: #6eabd8;
    background-color: white;
    padding: 10px 40px;
    font-size: 34px;
    border-radius: 38px;
    border: 3px solid white;
    display: inline-block;
    width: 280px
}

.button.start:hover {
    background-color: #6eabd8;
    color: white;
    border: 3px solid white;
}

footer {
    background-color: #fcfcfc;
}

.footer {
    padding: 50px 0;
}

h4 {
    font-size: 22px;
    color: #515851;
}

.menu ul {
    font-size: 18px;
    color: #515851;
    padding: 0;
    font-weight: 300;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #515851;
}

footer .kota {
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
    background-color: #273845;
    margin: 0;
    font-size: 16px;
    padding: 12px;
    font-weight: 300;
}

p .nama {
    margin: 0;
    font-weight: 400;
}

p .nama a {
    text-decoration: none;
    color: white
}

.row.login {
    margin: 60px 0;
}

.form h1 {
    font-size: 36px;
    padding-bottom: 15px;
}

input {
    width: 476.44px;
    padding: 8px;
    margin: 10px 0;
    font-size: 16px
}

.login.page {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #6eabd8;
    padding: 10px;
    display: inline-block;
    width: 478.44px;
    margin-top: 8px;
}

.form p {
    color: black;
    font-size: 16px;
    margin: 0;
}

.form p a {
    color: black;
    padding: 0;
    background-color: white;
    font-size: 16px;
}

.form p a:hover {
    color: orangered;
}

hr {
    width: 476px;
}

.button.signup {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #6eabd8;
    padding: 10px;
    display: inline-block;
    width: 478.44px;
    margin-top: 8px;
}

.container {
    padding: 25px 0;
}

.container h1 {
    text-align: center;
}

.travel-pack .travel-list {
    margin: 60px auto;
}

.travel-list-2 {
    width: 745px;
    margin: auto;
}

.travel-pack h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
}

.cart {
    height: 128px;
}

.user {
    position: absolute;
    width: 55px;
    top: 18px;
    right: 210px;
}

header .greet {
    font-size: 24px;
    position: absolute;
    top: 12px;
    right: 201px;
    color: white
}

.my-package {
    text-align: center
}

.my-package h1 {
    font-weight: 300;
    color: #6eabd8;
    margin: 60px 0;
}

.button.add {
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: #6eabd8;
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 70px;
}

.button.add:hover {
    background-color: #5d94b9
}

.button.add i {
    padding-right: 8px;
}

.my-package .travel-list {
    width: 980px
}

.my-package .travel-list .col-md-6 {
    padding: 0 65px;
}

.my-package .travel-list .travel {
    padding-right: 35px;
    padding-left: 35px;
}

.museum-pack {
    text-align: center
}

.museum {
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0 4px 7px 2px rgba(0,0,0,0.1)
}

.museum figure img {
    width: 100%;
}

.museum-detail {
    padding: 10px;
}

.museum-detail .arah {
    text-decoration: none;
    color: #6eabd8;
    font-size: 18px;
    display: inline-block;
    padding-bottom: 18px
}

.explore {
    text-decoration: none;
    color: white;
    background-color: #6eabd8;
    display: inline-block;
    width: 222px;
    padding: 10px;
    font-size: 18px;
    margin: 30px 0 60px 0
}

.explore:hover {
    text-decoration: none;
    color: white;
    background-color: #5d94b9
}

.diary {
    margin: 65px auto;
    width: 1172px;
}

.user-info {
    text-align: center
}

.user-info figure img {
    width: 123px;
}

.user-info p {
    font-size: 20.83px;
    font-weight: 300;
    margin: 0;
}

.user-info .username {
    font-weight: 400;
    margin-top: 19px
}

.travel-diary {
    font-weight: 300;
}

.travel-diary h1 {
    font-size: 45px;
    font-weight: 300;
    margin-top: 0;
}

.travel-diary h1 .title {
    font-weight: 400;
}

.travel-diary h2 {
    font-size: 30.44px;
    font-weight: 300
}

.travel-diary h3 {
    font-size: 26.02px;
    font-weight: 300
}

.travel-diary h3 .date {
    font-weight: 400
}

.travel-diary .row {
    padding: 40px;
}

.travel-diary p {
    font-size: 25px;
    margin-bottom: 25px
}

.travel-diary ol {
    font-size: 25px;
    padding-left: 25px
}

.travel-diary ol li {
    padding: 10px 0;
}

.wrap {
    height: 61px;
}

.basic-info {
    background-color: white;
    padding: 87px 0;
}

.basic-info h1 {
    color: black;
    font-size: 38.04px;
}

.basic-info .caption {
    font-size: 30.04px;
    font-weight: 300;
    padding: 15px;
}

.button.follow {
    font-size: 24.08px;
    color: white;
    text-decoration: none;
    background-color: #6eabd8;
    display: inline-block;
    width: 175px;
    padding: 6px;
    border-radius: 15px
}

.button.follow i {
    padding-right: 6px
}

.basic-info {
    width: 1232.31px;
    margin: auto
}

.basic-info p {
    font-family: Source Sans Pro, sans serif;
    color: black
}

.basic-info p a {
    color: black;
}

.point {
    text-align: left;
    width: 552px
}

.point h2 {
    font-size: 29.17px;
    font-weight: 300;
    background-color: #6eabd8;
    color: white;
    margin: 0;
    padding: 10px 22px;
}

.point .medali {
    padding: 30px
}

.point figure img {
    height: 61px;
}

.medali figure, .medali p {
    display: inline-block
}

.medali p, .wrap a {
    font-size: 25px;
    font-weight: 300;
    margin-left: 35px;
    color: black
}

.medali p a:hover, .wrap a:hover {
    text-decoration: none;
    color: #f0582f
}

.medali, .travel-info {
    border: 2px solid #6eabd8
}

.wrap {
    margin: 30px
}

.wrap figure, .wrap p {
    display: inline-block
}

.travel-info {
    position: relative;
}

.travel-info button {
    font-size: 29.17px;
    color: white;
    position: absolute;
    top: 4px;
    right: 15px;
    border: none;
    background-color: #6eabd8
}

.timeline-list {
    margin-bottom: 60px;
    text-align: center
}

.timeline-list h1 {
    font-size: 41px;
    color: #6eabd8;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #6eabd8;
    display: inline-block;
}

.line {
    width: 3px;
    margin: 0 auto;
    padding: 35px 0;
    background: #e1e1e1;
}

.timeline h2 {
    font-size: 27.75px;
    background: #6eabd8;
    color: white;
    max-width: 6em;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    position: relative;
    clear: both;
    font-weight: 300;
}

.timeline ul {
    padding: 0 50px;
    margin: 0
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding: 45px 0;
    background: #e1e1e1;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 2px solid #6eabd8
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 312px;
    background: #20303b;
  }

.timeline ul li h3 {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 15px
}

.timeline ul li h3 a {
    color: white
}

.timeline ul li h3 a:hover {
    text-decoration: none
}

  .timeline ul li div::before {
    content: '';
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 55px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -16px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #20303b transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -365px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -16px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #20303b;
  }

  #editor {
      height: 380px
  }

  .post-title {
      text-align: center;
      margin: 40px 0;
      color: #6eabd8;
  }

  .ql-toolbar.ql-snow {
      text-align: center
  }

  .ql-editor {
      font-size: 18px;
  }

  .button.save {
      text-align: center
  }

  .publish {
      display: inline-block;
      text-decoration: none;
      font-size: 22px;
      color: white;
      background-color: #6eabd8;
      padding: 8px;
      width: 125px;
      border-radius: 15px;
      text-align: center;
      margin: 25px 0;
  }

  .publish:hover {
      text-decoration: none;
      color: white;
      background-color: #5d94b9
  }